<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <title>AI</title>
        <link rel="stylesheet" href="home/style.css">
        <script src="home/script.js"></script>
    </head>
    <body>
        <input type="text" id="prompt" placeholder="Enter your question here">
        <input type="text" id="model" placeholder="Enter model name here">
        <button id="submit" onclick="submit()">Submit</button>
        <div id="response">Something will appear when you write submit something</div>
    </body>
</html>